[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
keras = "==2.15"
numpy = "*"
requests = "*"
tensorflow = "==2.15"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
